
@{

    ViewBag.Title = "Vendedor";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div class="table responsive">

    <h2 class="text-center">@View.Resources.Resource.Vendedores</h2>


    <button data-toggle="modal" data-target="#modal-vendedor"
            class="btn btn-primary float-right mb-2">
        <i class="fas fa-plus">
            </i>  @View.Resources.Resource.NovoVendedor
    </button>

    <table id="vendedor-tabela" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>@View.Resources.Resource.Nome</th>
                <th>@View.Resources.Resource.Usuario</th>
                <th>@View.Resources.Resource.Veiculo</th>
                <th>@View.Resources.Resource.Acao</th>
            </tr>
        </thead>
    </table>

</div>


@RenderPage("VendedorModal.cshtml")

@section js{
    <script src="~/Scripts/Vendedor/Vendedor.js">
    </script>
}

