@{
    var usuario = (Model.Usuario)Session["Usuario"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MCSS - @ViewBag.Title</title>

    <link href="~/Content/theme/global_assets/images/logo_icon_dark.png" rel="shortcut icon" />
    <link href="~/Content/login/css/login.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/Animate.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
    <link href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript" />

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="~/Content/css/select2.min.css" rel="stylesheet" type="text/css"> -->
    <link href="~/Content/css/replaces.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/theme/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/theme/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/Content/theme/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Content/theme/assets/js/app.js"></script>
    <script src="~/Content/js/lang.js"></script>
    <script src="~/Content/theme/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/Mascaras/jquery.mask.js"></script>
    <script type="text/javascript" src="~/Scripts/Mascaras/jquery.mask.min.js"></script>
    <!-- /theme JS files -->
    @RenderSection("css", false)
</head>
<body>
    <input type="hidden" id="admin" value="@usuario.Admin" />

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light">

        <!-- Header with logos -->
        <div id="sidebartop" class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand navbar-brand-md">
                <div href="#">
                    <h2 class="titulonav text-center">mcss</h2>
                </div>
            </div>

            <div class="navbar-brand navbar-brand-xs">
                <a href="#" class="d-inline-block">
                    <img src="~/Content/theme/global_assets/images/logo_icon_light.png" alt="">
                </a>
            </div>
        </div>
        <!-- /header with logos -->
        <!-- Mobile controls -->
        <div class="d-flex flex-1 d-md-none">
            <div class="navbar-brand mr-auto">
                <a href="index.html" class="d-inline-block">
                    <h2 class="titulonav text-center text-dark">mcss</h2>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>

            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <!-- /mobile controls -->
        <!-- Navbar content -->
        <div class="collapse navbar-collapse border-top-1 border-top-light-alpha" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="Dashboard/change?lang=en-US" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="badge badge-pill ml-md-3 mr-md-auto"> </span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">

                        @if (Session["Language"] == null || Session["Language"].ToString() == "pt-BR")
                        {
                            <img id="imgLANG" src="~/Content/theme/global_assets/images/lang/br.png" class="img-flag mr-2" alt="">
                            <span id="langAtual">Português</span>
                        }
                        else if (Session["Language"] == null || Session["Language"].ToString() == "en-US")
                        {
                            <img id="imgLANG" src="~/Content/theme/global_assets/images/lang/gb.png" class="img-flag mr-2" alt="">
                            <span id="langAtual">English</span>
                        }
                        else
                        {
                            <img id="imgLANG" src="~/Content/theme/global_assets/images/lang/es.png" class="img-flag mr-2" alt="">
                            <span id="langAtual">Español</span>
                        }
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a id="btnPT" href="/Dashboard/Change?lang=pt-BR" class="dropdown-item portuguese"><img src="~/Content/theme/global_assets/images/lang/br.png" class="img-flag" alt=""><span id="ptLang">Português</span></a>
                        <a id="btnEN" href="/Dashboard/Change?lang=en-US" class="dropdown-item english"><img src="~/Content/theme/global_assets/images/lang/gb.png" class="img-flag" alt=""><span id="enLang">English</span> </a>
                        <a id="btnES" href="/Dashboard/Change?lang=es-ES" class="dropdown-item spanish"><img src="~/Content/theme/global_assets/images/lang/es.png" class="img-flag" alt=""><span id="eslang">Español</span> </a>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                       
                        @if (@usuario.UrlImagem == "default")
                        {
                        <img id="imagemUsuario" src="~/Content/image/avatar.png" class="rounded-circle mr-2" height="34" width="34" alt="">
                        }
                        else 
                        {
                        <img id="imagemUsuario" src="~/Content/uploads/@usuario.UrlImagem" class="rounded-circle mr-2" height="34" width="34" alt="">
                        }

                        <span>@usuario.NomeCompleto</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/usuario/perfil" class="dropdown-item">
                            <i class="icon-user-plus"></i>@View.Resources.Resource.MeuPerfil
                        </a>
                        <div class="/dropdown-divider"></div>
                        <a href="/contato/index" class="dropdown-item"><span>Não remover</span></a>
                        <a href="/usuario/config" class="dropdown-item"><i class="icon-cog5"></i> <span>@View.Resources.Resource.Configuracoesdaconta</span> </a>
                        <a href="/login/logout" class="dropdown-item"><i class="icon-switch2"></i> <span>@View.Resources.Resource.Sair</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /navbar content -->

    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div id="sidebar" class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                        @if (@usuario.UrlImagem == "default")
                        {
                        <a href="/usuario/perfil"><img id="imagemUsuario2" src="~/Content/image/avatar.png" width="38" height="38" class="rounded-circle" alt=""></a>
                        }
                        else 
                        {
                        <a href="/usuario/perfil"><img id="imagemUsuario2" src="~/Content/uploads/@usuario.UrlImagem" width="38" height="38" class="rounded-circle" alt=""></a>
                        }
                               
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold"><span>@usuario.NomeCompleto</span></div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-pin font-size-sm"></i> &nbsp;Blumenau - SC, Brasil
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                <a href="/usuario/config" class="text-white"><i class="icon-cog3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">@View.Resources.Resource.Menu</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="/Dashboard/index" class="nav-link"><i class="fas fa-home"></i><span id="inicioText">@View.Resources.Resource.Inicio</span></a>
                        </li>
                        <!-- Usuário -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemUsuario" class="nav-link"><i class="fas fa-user"></i> <span id="usuarioText">@View.Resources.Resource.Usuario</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Usuário">
                                <li class="nav-item"><a href="/usuario/index" class="nav-link ">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Usuário -->
                        <!-- Categoria -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemCategoria" class="nav-link">
                                <i class="icon-clipboard"></i>
                                <span id="categoriaText">@View.Resources.Resource.Categoria</span>
                            </a>
                            <ul class="nav nav-group-sub" data-submenu-title="Categoria">
                                <li class="nav-item"><a href="/categoria/index" class="nav-link ">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Categoria -->
                        <!-- Cliente -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-user-tie"></i><span>@View.Resources.Resource.Cliente</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Cliente">
                                <li class="nav-item"><a href="/cliente/index" class="nav-link ">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Cliente -->
                        <!-- Veículo -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemVeiculo" class="nav-link"><i class="icon-truck"></i><span id="veiculoText">@View.Resources.Resource.Frota</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Veículo">
                                <li class="nav-item"><a href="/Marca/index" class="nav-link">@View.Resources.Resource.Marcas</a></li>
                                <li class="nav-item"><a href="/Modelo/index" class="nav-link">@View.Resources.Resource.Modelos</a></li>
                                <li class="nav-item"><a href="/Veiculo/index" class="nav-link">@View.Resources.Resource.Veiculos</a></li>
                            </ul>
                        </li>
                        <!-- /Veículo -->
                        <!-- Inventário -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-boxes"></i><span id="veiculoText">@View.Resources.Resource.Inventario</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Inventário">
                                <li class="nav-item"><a href="/inventario/index" class="nav-link">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Inventário -->
                        <!-- Rota -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemRota" class="nav-link"><i class="fas fa-road"></i><span>@View.Resources.Resource.Rota</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Rota">
                                <li class="nav-item"><a href="/rota/index" class="nav-link">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Rota-->
                        <!-- Produto-->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemProduto" class="nav-link"><i class="fas fa-box-open"></i><span id="produtoText">@View.Resources.Resource.Produto</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Produto">
                                <li class="nav-item"><a href="/produto/index" class="nav-link">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Produto-->
                        <!-- Vendedor -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" id="itemVendedor" class="nav-link"><i class="far fa-address-card"></i><span>@View.Resources.Resource.Vendedor</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Vendedor">
                                <li class="nav-item"><a href="/vendedor/index" class="nav-link">@View.Resources.Resource.Lista</a></li>
                            </ul>
                        </li>
                        <!-- /Vendedor-->
                        <!-- Venda -->
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="fas fa-suitcase"></i><span>@View.Resources.Resource.Venda</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Venda">
                                <li class="nav-item"><a href="/venda/index" class="nav-link">@View.Resources.Resource.Lista</a></li>
                                @*<li class="nav-item"><a href="/notafiscal/index" class="nav-link">@View.Resources.Resource.NotaFiscal</a></li>*@
                            </ul>
                        </li>
                        <!-- /Venda-->
                        <!-- /main -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="content-wrapper">
            <!--Espaço-->
            <br />
            <br />
            <!--/Espaço-->
            <!-- Content area -->
            <div class="content pt-0">

                <!-- Main charts -->
                <div class="row ml-3 mr-3">
                    @RenderBody()
                </div>
                <!-- /main charts -->
            </div>

            @*<div class="col-xl-4">
                    <!-- Progress counters -->
                    <div class="row">
                        <div class="col-sm-6"></div>
                    </div>
                    <!-- /progress counters -->
                </div>*@
        </div>
        <!-- /dashboard content -->
        <!-- /Content area -->
        <!-- Inserir código abaixo -->
        <!-- Inserir código acima -->
    </div>
    <!-- Footer -->
    @*<div class="navbar navbar-expand-lg navbar-light">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
                        data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">
                    &copy; 2019 - MCSS Company
                </span>
            </div>
        </div>*@

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/Usuario/config.js" ~></script>
    <script src="~/Content/js/login.js"></script>
    <script src="~/Content/js/admin.js"></script>
    @RenderSection("js", false)

    <script type="text/javascript">
                                                    //document.getElementById("usuarioNome").innerHTML = localStorage.getItem("firstName");
                                                    //document.getElementById("nomeText").innerHTML = localStorage.getItem("username");
    </script>
</body>
</html>