<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-estado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@View.Resources.Resource.CadastrodeEstado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="estado-campo-pais">@View.Resources.Resource.Pais</label>
                    <select class="form-control"
                            id="estado-campo-pais">
                        <option disabled="disabled"
                                selected="selected">
                            @View.Resources.Resource.SelecioneumPais
                        </option>
                        @foreach (Model.Pais pais in ViewBag.Paises)
                        {
                            <option value="@pais.Id">@pais.Nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="estado-campo-nome">@View.Resources.Resource.Nome <span class="text-danger">*</span></label>
                    <input type="text" id="estado-campo-nome" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="estado-botao-salvar" type="button" class="rubberBand animated btn btn-success"><i class="fa fa-check"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>