@{
    ViewBag.Title = "Config";
    var usuario = (Model.Usuario)Session["Usuario"];
}

<legend>
    <span class="h2">@View.Resources.Resource.Configuracoesdaconta</span>
</legend>
<div class="modal-body">
    <legend>
        <span class="h3">@View.Resources.Resource.DadosPessoais</span>
    </legend>
    <form method="post" action="updateinfo">

        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-nomecompleto">@View.Resources.Resource.Nome <span class="text-danger">*</span></label>
            <input id="config-campo-nomecompleto" class="form-control border-dark" value="@ViewBag.Usuario.NomeCompleto" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-sobrenome">@View.Resources.Resource.Sobrenome <span class="text-danger">*</span></label>
            <input id="config-campo-sobrenome" class="form-control border-dark" value="@ViewBag.Usuario.Sobrenome" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-nome">@View.Resources.Resource.Usuario <span class="text-danger">*</span></label>
            <input id="config-campo-nome" class="form-control border-dark" value="@ViewBag.Usuario.Nome" readonly />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-telefone">@View.Resources.Resource.Telefone <span class="text-danger">*</span></label>
            <input id="config-campo-telefone" class="form-control border-dark" value="@ViewBag.Usuario.Telefone" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-cpf">@View.Resources.Resource.CPF <span class="text-danger">*</span></label>
            <input id="config-campo-cpf" class="form-control border-dark" value="@ViewBag.Usuario.CPF" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-rg">@View.Resources.Resource.RG <span class="text-danger">*</span></label>
            <input id="config-campo-rg" class="form-control border-dark" value="@ViewBag.Usuario.RG" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-cep">@View.Resources.Resource.CEP <span class="text-danger">*</span></label>
            <input id="config-campo-cep" class="form-control border-dark" value="@ViewBag.Usuario.CEP" />
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input').keypress(function (e) {
                    var code = null;
                    code = (e.keyCode ? e.keyCode : e.which);
                    return (code == 13) ? false : true;
                });
            });
        </script>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-estado">@View.Resources.Resource.Estado <span class="text-danger">*</span></label>
            <input readonly id="config-campo-estado" class="form-control border-dark" value="@ViewBag.Usuario.Estado" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-cidade">@View.Resources.Resource.Cidade <span class="text-danger">*</span></label>
            <input readonly id="config-campo-cidade" class="form-control border-dark" value="@ViewBag.Usuario.Cidade" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-logradouro">@View.Resources.Resource.Logradouro <span class="text-danger">*</span></label>
            <input readonly id="config-campo-logradouro" class="form-control border-dark" value="@ViewBag.Usuario.Logradouro" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-logradouro">@View.Resources.Resource.NumeroCasa <span class="text-danger">*</span></label>
            <input id="config-campo-numero" class="form-control border-dark" value="@ViewBag.Usuario.NumeroCasa" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i> @View.Resources.Resource.AlterarDados</button>
        </div>
    </form>
</div>
<div class="modal-body">

    <legend>
        <span class="h3"> @View.Resources.Resource.Alterarfoto</span>
    </legend>
    <div class="form-group">
        <form action="Upload" method="post" enctype="multipart/form-data">
            <img id="imagemUsuario" src="~/Content/uploads/@usuario.UrlImagem" class="rounded mb-2" height="125" width="125" alt="">
            <input type="file" name="file" />
            <button class="btn btn-primary float-right" type="submit"><i class="fas fa-file-import"></i>  @View.Resources.Resource.Enviar</button>
        </form>
    </div>

    <legend>
        <span class="h3"> @View.Resources.Resource.Temas</span>
    </legend>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="colorBlue"> </button>
        <button type="button" class="btn btn-warning" id="colorOrange"> </button>
        <button type="button" class="btn btn-danger" id="colorRed"> </button>
        <button type="button" class="btn btn-dark" id="colorDark"> </button>
    </div>

    <legend>
        <span class="h3">@View.Resources.Resource.AlterarSenha</span>
    </legend>
    <form method="post" action="updatepass">
        <input type="hidden" name="id" value="@usuario.Id" />
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-senha">@View.Resources.Resource.Senha</label>
            <input type="password" id="config-campo-senha" name="senha" class="form-control border-dark" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold" for="config-campo-senha2">@View.Resources.Resource.ConfirmarSenha</label>
            <input type="password" id="config-campo-senha2" class="form-control border-dark" />
        </div>
        <div>
            <button id="alterarSenha" type="submit" class="btn btn-primary float-right"><i class="fas fa-lock"></i> @View.Resources.Resource.AlterarSenha</button>
        </div>
    </form>
</div>
@section js {
    <script type="text/javascript" src="~/Scripts/Usuario/select2config.js"></script>
    <script type="text/javascript" src="~/Scripts/Usuario/viacep.js"></script>
    <script src="~/Scripts/Mascaras/Mask.js"></script>
}