@{
    ViewBag.Title = "Config";
    var usuario = (Model.Usuario)Session["Usuario"];
}

<legend>
    <span class="h2">@View.Resources.Resource.Configuracoesdaconta</span>
</legend>
<div class="modal-body">
    <legend>
        <span class="h3">@View.Resources.Resource.DadosPessoais</span>
    </legend>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-nome">@View.Resources.Resource.Nome <span class="text-danger">*</span></label>
        <input id="config-campo-nome" class="form-control border-dark" value="@ViewBag.Usuario.Nome" readonly />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-telefone">@View.Resources.Resource.Telefone <span class="text-danger">*</span></label>
        <input id="config-campo-telefone" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-cpf">@View.Resources.Resource.CPF <span class="text-danger">*</span></label>
        <input id="config-campo-cpf" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-rg">@View.Resources.Resource.RG <span class="text-danger">*</span></label>
        <input id="config-campo-rg" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-cnh">@View.Resources.Resource.CNH <span class="text-danger">*</span></label>
        <input id="config-campo-cnh" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-cep">@View.Resources.Resource.CEP <span class="text-danger">*</span></label>
        <input id="config-campo-cep" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-pais">@View.Resources.Resource.País <span class="text-danger">*</span></label>
        <br />
        <select class="form-control border-dark" style="width: 100%; " id="config-campo-pais">
            <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumpaís</option>
        </select>
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-estado">@View.Resources.Resource.Estado <span class="text-danger">*</span></label>
        <br>
        <select class="form-control border-dark" style="width: 100% " id="config-campo-estado">
            <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumestado</option>

        </select>
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-cidade">@View.Resources.Resource.Cidade <span class="text-danger">*</span></label>
        <br>
        <select class="form-control border-dark" style="width: 100% " id="config-campo-cidade">
            <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumacidade</option>
        </select>
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-logradouro">@View.Resources.Resource.Logradouro <span class="text-danger">*</span></label>
        <input id="config-campo-logradouro" class="form-control border-dark" />
    </div>
    <div>
        <button class="btn btn-primary float-right"><i class="fas fa-pencil-alt"></i> @View.Resources.Resource.AlterarDados</button>
    </div>
</div>
<div class="modal-body">

    <legend>
        <span class="h3"> @View.Resources.Resource.Alterarfoto</span>
    </legend>
    <div class="form-group">
        <form action="Upload" method="post" enctype="multipart/form-data">
            <img id="imagemUsuario" src="~/Content/uploads/@usuario.UrlImagem" class="rounded mb-2" height="125" width="125" alt="">
            <input type="file" name="file" />
            <button class="btn btn-primary float-right" type="submit"><i class="fas fa-file-import"></i>  @View.Resources.Resource.Enviar</button>
        </form>
    </div>

    <legend>
        <span class="h3"> @View.Resources.Resource.Temas</span>
    </legend>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="colorBlue"> </button>
        <button type="button" class="btn btn-warning" id="colorOrange"> </button>
        <button type="button" class="btn btn-danger" id="colorRed"> </button>
        <button type="button" class="btn btn-dark" id="colorDark"> </button>
    </div>

    <legend>
        <span class="h3">@View.Resources.Resource.AlterarSenha</span>
    </legend>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-senha">@View.Resources.Resource.Senha</label>
        <input type="password" id="config-campo-senha" class="form-control border-dark" />
    </div>
    <div class="form-group">
        <label style="font-weight:bold" for="config-campo-senha2">@View.Resources.Resource.ConfirmarSenha</label>
        <input type="password" id="config-campo-senha2" class="form-control border-dark" />
    </div>
    <div>
        <button id="alterarSenha" class="btn btn-primary float-right"><i class="fas fa-lock"></i> @View.Resources.Resource.AlterarSenha</button>
    </div>
</div>
@section js {
    <script type="text/javascript" src="~/Scripts/Usuario/perfil.js"></script>
    <script src="~/Scripts/Mascaras/Mask.js"></script>
}