
@{
    ViewBag.Title = "Usuário";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<div class="table-responsive">

    <h2 class="text-center">@View.Resources.Resource.Usuarios</h2>


    <button data-toggle="modal" data-target="#modal-usuario"
            class="btn btn-primary float-right mb-2">
        <i class="fas fa-plus"></i>  @View.Resources.Resource.NovoUsuario
    </button>
        <table id="usuario-tabela" href="~/View/Resources/Resource" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>@View.Resources.Resource.Codigo</th>
                    <th>@View.Resources.Resource.Nome</th>
                    <th>@View.Resources.Resource.Senha</th>
                    <th>@View.Resources.Resource.Acao</th>
                    <th></th>
                </tr>
            </thead>
        </table>
</div>


@RenderPage("UsuarioModal.cshtml")

@section js{
    <script src="~/Scripts/Usuario/usuario.js">
    </script>
}

