<div class="modal" tabindex="-1" role="dialog" id="modal-usuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-user"></i> Cadastro de Usuário</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body back">
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-nome">@View.Resources.Resource.Nome <span class="text-danger">*</span></label>
                    <input id="usuario-campo-nome" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-usuario">@View.Resources.Resource.Usuario <span class="text-danger">*</span></label>
                    <input id="usuario-campo-usuario" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-senha">@View.Resources.Resource.Senha <span class="text-danger">*</span></label>
                    <input type="password" id="usuario-campo-senha" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-telefone">@View.Resources.Resource.Telefone <span class="text-danger">*</span></label>
                    <input id="usuario-campo-telefone" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-cpf">@View.Resources.Resource.CPF <span class="text-danger">*</span></label>
                    <input id="usuario-campo-cpf" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-rg">@View.Resources.Resource.RG <span class="text-danger">*</span></label>
                    <input id="usuario-campo-rg" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-cnh">@View.Resources.Resource.CNH <span class="text-danger">*</span></label>
                    <input id="usuario-campo-cnh" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-cep">@View.Resources.Resource.CEP <span class="text-danger">*</span></label>
                    <input id="usuario-campo-cep" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-pais">@View.Resources.Resource.País <span class="text-danger">*</span></label>
                    <select class="form-control border-dark" id="usuario-campo-pais">
                        <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumacidade</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-estado">@View.Resources.Resource.Estado <span class="text-danger">*</span></label>
                    <select class="form-control border-dark" id="usuario-campo-estado">
                        <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumacidade</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-cidade">@View.Resources.Resource.Cidade <span class="text-danger">*</span></label>
                    <select class="form-control border-dark" id="usuario-campo-cidade">
                        <option disabled="disabled" selected="selected"> @View.Resources.Resource.Selecioneumacidade</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-logradouro">@View.Resources.Resource.Logradouro<span class="text-danger">*</span></label>
                    <input id="usuario-campo-logradouro" class="form-control border-dark" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="usuario-botao-salvar" type="button" class="btn btn-success"><i class="fas fa-save"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>