<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-usuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-user"></i>@View.Resources.Resource.CadastrodeUsuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body back">
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-nomecompleto">@View.Resources.Resource.Nome <span class="text-danger">*</span></label>
                    <input id="usuario-campo-nomecompleto" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-nome">@View.Resources.Resource.NomeUsuario <span class="text-danger">*</span></label>
                    <input id="usuario-campo-nome" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <label style="font-weight:bold" for="usuario-campo-senha">@View.Resources.Resource.Senha <span class="text-danger">*</span></label>
                    <input type="password" id="usuario-campo-senha" class="form-control border-dark" />
                </div>
                <div class="form-group">
                    <input id="usuario-campo-imagem" type="hidden" name="UrlImagem" value="default" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="usuario-botao-salvar" type="button" class="rubberBand animated btn btn-success"><i class="fa fa-check"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>