@{
    ViewBag.Title = "Dashboard";
}
@*<link rel="stylesheet" type="text/css" href="~/Content/css/tabela/util.css" />
<body class="background-usuarios-img">
    <div class="jumbotron text-center mt-4">
        <h1 id="bemvindoText" class="display-4">
            <span>
                <p>
                    @View.Resources.Resource.BemVindo
                </p>
            </span>
        </h1>
        <br>
        <font size="3">
            <p class="lead">
                <span id="cabecalhoResumo">
                    @View.Resources.Resource.NossoSoftware
                </span>
            </p>
        </font>
        <hr class="my-3">
        <br>
        <font size="4">
            <p>
                <span id="resumoText">
                    @View.Resources.Resource.MCSS
                </span>
        </font>
    </div>
    <div class="jumbotron text-center mt-4">
       <h1 id="VisaoText" class="display-4">
        <span>
            <p>
                @View.Resources.Resource.Visao
            </p>
        </span>
        </h1>
        <br>
        <font size="3">
         <p class="lead">
            <span id="cabecalhoResumo">
                @View.Resources.Resource.Nosbuscamos
            </span>
         </p>
    </font>
    </div>
</body>*@