<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-veiculo-editar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-truck"></i> @View.Resources.Resource.Veiculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="veiculo-campo-marca-editar">@View.Resources.Resource.Marca</label>
                    <select class="form-control" id="veiculo-campo-marca-editar" name="campo-marca">
                        <option disabled="disabled" selected="selected">@View.Resources.Resource.Selecioneumamarca</option>
                        @foreach (Model.Marca marca in ViewBag.Marcas)
                        {
                            <option value="@marca.Id">@marca.Nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-modelo-editar">@View.Resources.Resource.Modelo</label>
                    <select class="form-control" id="veiculo-campo-modelo-editar" name="campo-marca">
                        <option disabled="disabled" selected="selected">@View.Resources.Resource.SelecioneumModelo</option>
                        @foreach (Model.Modelo modelo in ViewBag.Modelos)
                        {
                            <option value="@modelo.Id">@modelo.Nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-anofabricacao-editar">@View.Resources.Resource.AnoFabricacao</label>
                    <input class="form-control" name="campo-anofabricacao" id="veiculo-campo-anofabricacao-editar" type="number" min="1945" max="2025" required="required">
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-numerocaminhao-editar">@View.Resources.Resource.Numerodocaminhao</label>
                    <input class="form-control" name="campo-numerocaminhao" id="veiculo-campo-numerocaminhao-editar" type="text" required="required" />
                </div>
                <div class="form-group">
                    <label for="veiculo-campo-placa-editar">@View.Resources.Resource.Placa</label>
                    <input class="form-control" name="campo-placa" id="veiculo-campo-placa-editar" type="text" required="required" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="veiculo-botao-editar" type="button" class="rubberBand animated btn btn-success"><i class="fa fa-check"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>
