@{
    ViewBag.Title = "Index";
}
<h2>@View.Resources.Resource.ListadeVendas</h2>

<table class="table table-striped table-bordered table-hover" id="vendas-index">
    <thead>
        <tr>
            <th>@View.Resources.Resource.Codigo</th>
            <th>@View.Resources.Resource.Cliente</th>
            <th>@View.Resources.Resource.Total</th>
            <th>@View.Resources.Resource.Acao</th>
        </tr>
    </thead>
</table>
<a class="btn btn-primary mb-3" href="/venda/cadastro">@View.Resources.Resource.Novo</a>