@{
    ViewBag.Title = "Venda";
}

<div class="table responsive">

    <h2 class="text-center">@View.Resources.Resource.Vendas </h2>

    <button data-toggle="modal" data-target="#modal-venda"
            class="btn btn-primary float-right mb-2">
        <i class="fas fa-plus"></i>  @View.Resources.Resource.NovaVenda
    </button>
    <table class="table table-striped table-bordered table-hover" id="venda-tabela" href="~/View/Resources/Resource">
        <thead>
            <tr>
                <th>@View.Resources.Resource.Codigo</th>
                <th>@View.Resources.Resource.Vendedor</th>
                <th>@View.Resources.Resource.Cliente</th>
                <th>@View.Resources.Resource.Acao</th>
            </tr>
        </thead>
    </table>
</div>


@RenderPage("VendaModal.cshtml")
@section js{
    <script src="~/Scripts/Venda/venda.js"></script>
}
