<div class="modal bounceInDown animated" tabindex="-1" role="dialog" id="modal-produto-editar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@View.Resources.Resource.EditarProduto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="produto-campo-categoria">@View.Resources.Resource.Categoria<span class="text-danger">*</span></label>
                    <select class="form-control"
                            id="produto-campo-categoria">
                        <option disabled="disabled"
                                selected="selected">
                            @View.Resources.Resource.Selecioneumacategoria
                        </option>
                        @foreach (Model.Categoria categoria in ViewBag.Categorias)
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="produto-campo-nome">@View.Resources.Resource.Nome<span class="text-danger">*</span></label>
                    <input id="produto-campo-nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="produto-campo-valor">@View.Resources.Resource.Valor<span class="text-danger">*</span></label>
                    <input id="produto-campo-valor" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="rubberBand animated btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i> @View.Resources.Resource.Cancelar</button>
                <button id="produto-botao-salvar" type="button" class="rubberBand animated btn btn-success"><i class="fa fa-check"></i>  @View.Resources.Resource.Salvar</button>
            </div>
        </div>
    </div>
</div>